.shadowBox { -fx-effect: dropshadow(three-pass-box, rgb(0,0,0,0.1), 4, 0, 1, 1); }
.manageOptions > Label {-fx-padding: 0 0 0 2;}
.manageOptions > Hyperlink > Glyph,.manageOptions > Hyperlink { -fx-text-fill: #414141;}
.manageOptions:hover Hyperlink > Glyph,.manageOptions:hover > Hyperlink { -fx-text-fill: #fff;-fx-underline:false;}


